# Virtual Environment
venv/
.venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Environment variables (Database credentials)
.env

# IDE settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
